@import url(base.css);

:root {
  --padding-horizontal: 30px;
  --padding-vertical: 40px;
  --border-spacer: 8px;
  --border-header: 2px;

  --font-family: Comfortaa, sans-serif;
  --header-1-size: 36px;
  --header-2-size: 24px;
  --year-size: 24px;

  --primary-color: black;
  --secondary-color: white;
  --grey-b-color: #6B6B6B;
  --grey-m-color: #B4B1B1;
  --grey-f-color: #DADADA;
  --y-1983-color: #B5829A;
  --y-1993-color: #A3A04D;
  --y-2003-color: #7CC4C5;
  --y-2013-color: #009572;
  --y-2023-color: #BB2648;
  --out-color: #03A4FF;
  --it-color: #013451;
  --ego-color: #034F79;
  --super-ego-color: #0079BD;
  --universe-color: #6ECBFF;
  --back-color: #E1DBD5;
}